@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4 class="display-4">To our Application for Testing SQL & NoSQL Database Speed</h4>
  
</div>
