@{
    ViewData["Title"] = "Performance Test Update NoSQL";
}
<h1>@ViewData["Title"]</h1>

<p>This is NoSQL Update Performance Page.</p>

<div class="shadow-sm tbl-1 p-3 mb-5" style="background : #F1F1F1;">
    <div class="card card-custom">
        <div class="card">
            <!--Body-->
            <div class="card-body">
                <label for="dataAmount">Data Amount:</label>
                <select id="dataAmount" class="browser-default custom-select">
                    <option value="" disabled selected></option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="50000">50000</option>
                    <option value="100000">100000</option>
                    </select>
                  <div>
                      <br />
                <button id="buttonPerfUpdateNoSQL" type="button" class="btn btn-danger btn-sm btn-rounded waves-effect waves-light" onclick="buttonPerfUpdateNoSQL">Submit</button>
                </div>
                <div id="perfresultsdata"> </div>
                <div id="perfresultshour"> </div>
                <div id="perfresultsminute"> </div>
                <div id="perfresultssec"> </div>
                <div id="perfresultsmilisec"> </div>
                <div id="perfresults"> </div>
                                <br />
                                                <h3> Previous Test Entries</h3>
                <br />
                <div class="table-responsive table-editable">
                    <table id="tblNoSQLUpdateList" class="table table-hover nowrap text-left" width="100%" aria-hidden="true">
                        <thead>
                            <tr>
                                <th scope="col" hidden></th>
                                <th scope="col">Data Processed </th>
                                <th scope="col">Hours</th>
                                <th scope="col">Minutes</th>
                                <th scope="col">Seconds</th>
                                <th scope="col">MiliSeconds</th>
                                <th scope="col">Average Time</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/NoSQLUpdatePage.js"></script>
}